body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "NHaasGroteskDSPro-65Md" !important;
}

/* .navbar {
  background-color: aquamarine;
  
} */

#carouselExampleFade img {
  width: 100%;
  height: 550px;
  object-fit: cover !important; /* Ensures the image fits within the container */
}

.cardImg {
  height: 260px;
  object-fit: cover !important;
}
